body{
    margin:1em 2em;
    padding:0 1em;
    font-family:"helvetica", sans-serif;
    line-height:1.5;
    background-color:#eeefef;
    color:blue;
}
p{
    max-width:600px;
}

pre{
    line-height: 2;
}